<!DOCTYPE html>
<html>
	<head>	
		<title>漫威电影</title>
		<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfonts-->
		<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text.css'/>
		<!--//webfonts-->
		<script src="../static/js/jquery.min.js" type="text/javascript"></script>
		<script src="../static/js/d3.v3.min.js"></script>
		<script src="../static/js/d3.layout.cloud.js"></script>

	</head>
	<body>
<!-- start header -->

<div class="header_bg">
<div class="wrap">
	<div id="content">
      <header id="topnav">
        <nav>
        		 <ul>
							<li><a href="/">主页</a></li>
							<li><a href="/cucnews">中传要闻</a></li>
							<li class="active"><a href="/douban">漫威电影</a></li>
							<li><a href="/manwei">漫威关系图</a></li>
							<li><a href="">Copyright</a></li>
					<div class="clear"> </div>
				</ul>
        </nav>
         <div class="logo"><img src="../static/images/logo.png"></div>
<!--        <a href="#" id="navbtn">Nav Menu</a>-->
        <div class="clear"> </div>
      </header><!-- @end #topnav -->
      <script type="text/javascript"  src="../static/js/menu.js"></script>
    </div>
</div>
</div>
<!--------start-blog----------->
<div class="blog">
	<div class="banner">
		<h2>漫威电影</h2>
	</div>

	<div class="main">

		  	<div class="wrap">
			 	<div class="single-top">
				 <div class="wrapper_single">
<!-- 词云图 -->
					<div class="wrapper_top">
						<div class="grid_1 alpha">
							<div class="date">
								<span>
									词条数
								</span>
								{{wordcount}}
							</div>
						</div>
					 	<div id="d3_cloud" class="content span_2_of_single"></div>
						<div class="clear"> </div>
					</div>
	<script>
						var w=window.innerWidth|| document.documentElement.clientWidth|| document.body.clientWidth;
						var h=window.innerHeight|| document.documentElement.clientHeight|| document.body.clientHeight;
								 w=w*0.98;
								 h=h*0.96;
								 var fill = d3.scale.category20();

										 var words=new Array({{wordcount}});
										 {% for wc in wordcloud %}
												words[{{loop.index-1}}]={text:"{{wc[1]}}",size:"{{wc[0]}}"};
										 {% endfor %}
								 var wc=d3.layout.cloud()
											.size([700, 300])
											.words(words)
											.padding(5)
											.rotate(function() { return ~~(Math.random() * 2) * 90; })
											.font("Impact")
											.fontSize(function(d) { return d.size; })
											.on("end", draw)
											.start();

									function draw(words) {
									d3.select("#d3_cloud").append("svg")
										.attr("width", 750)
										.attr("height", 300)
											.append("g")
										.attr("transform", "translate("+750/2+",150)")
											.selectAll("text")
										.data(words)
											.enter()
											.append("a")
											.attr("xlint:href",function(d){
														return "/douban?wanted="+d.text;
											 })
											.append("text")
										.style("font-size", function(d) { return d.size +"px"; })
										.style("font-family", "Impact")
										.style("fill", function(d, i) { return fill(i); })
										.attr("text-anchor", "middle")
										.attr("transform", function(d) {
											return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
										})
										.text(function(d) { return d.text; });
									}
							</script>
					 {% for r in rs %}
					  <div class="wrapper_top">
						<div class="grid_1 alpha">
							<div class="date">
								<span>
									{{r.id}}
								</span>
							</div>
						</div>

					 	<div class="content span_2_of_single">
						   		<h5 class="blog_title"><a href="">{{r.title}}</a></h5>
								<div class="content">
									<div class="span-1-of-1">
										<a href=""><img class="m_img" src="{{r.img}}" alt=""/></a>
									</div>
									<div class="span-1-of-2">
										<p>{{r.summary}}</p>
<!--						 				<a href="news_detail.html" class="arrow_btn">Read More</a>-->
						 			</div>
						 			<div class="clear"> </div>
								</div>
								<div class="links">
									<h3 class="comments">Tag：<a href="">{{r.tags}}</a></h3>
									<div class="clear"> </div>
								</div>
						</div>
						<div class="clear"> </div>
					</div>

					 {% endfor %}
		</div>
		<div class="rsidebar span_1_of_3">
				<div class="search_box">
					<form action="/douban">
						<input type="text" name="wanted" value="搜索电影" default="。">
       					<input type="submit" value="">
					</form>
			 	</div>
               <div class="social_2">
               	<h4>关注我们</h4>
	           <ul>
				    <li class="facebook"><a href="#"><span> </span></a></li>
				    <li class="twitter"><a href="#"><span> </span></a></li>
					<li class="google"><a href="#"><span> </span></a></li>
			  </ul>
		 	  </div>
               <div class="email_box">
					<form>
						<div class="email">
					  		 <input type="text" value="邮件" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '邮件';}">
					  	</div>
					  	 <div class="button">
						   	 <span><input type="submit" value="确认"></span>
						</div>
				    </form>
			 	</div>
			 	<div class="Categories">
			 		<h4>目录</h4>
				 	<ul class="sidebar">
						{% for r in rs %}

			           		<div class="hover"><li><a href=""+>{{r.title}}</a></li></div>

						{% endfor %}
			          </ul>
		        </div>
		</div>

		<div class="clear"> </div>
	</div>
	<div class="pages">
		<ul>
			 {% if page-1>=0 %}
			<li class="preview"><a href="/douban?page={{page-1}}"><span> </span></a></li>
			 {% else %}
			<li class="preview"><a href=""><span> </span></a></li>
			 {% endif %}
			<li><a href="/douban?page=1">1 </a></li>
			<li><a href="/douban?page=2">2 </a></li>
			<li><a href="/douban?page=3">3 </a></li>
			<li><a href="/douban?page=4">4 </a></li>
			<li><a href="/douban?page=5">5 </a></li>
			<li><form action="/douban?page">
				<label>
					<input class="pageNum" type="text"name="page" placeholder="{{ page+1 }}"/>
				</label>
			</form>
			</li>
			<li><a href="/douban?page={{totalpage}}">尾页</a></li>
			 {% if page+1<=totalpage %}
			<li class="next"><a href="/douban?page={{ page+1 }}"><span> </span></a></li>
			 {% else %}
			<li class="next"><a href=""><span> </span></a></li>
			 {% endif %}
			<div class="clear"> </div>
		</ul>
	</div>
<!----//End-content---->
	</div>
</div>
</div>
<!--------//end-blog----------->
<div class="footer">
		<div class="wrap">
			<div class="social_2 social_3">
	          copyright@赵晴&毛西润
		 	  </div>
		 	 </div>
		 	  <!-- scroll_top_btn -->
		<script type="text/javascript" src="../static/js/move-top.js"></script>
		<script type="text/javascript" src="../static/js/easing.js"></script>
	    <script type="text/javascript">
			$(document).ready(function() {

				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear'
		 		};


				$().UItoTop({ easingType: 'easeOutQuart' });

			});
		</script>
		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</div>
	</body>
</html>