<!DOCTYPE HTML>
<html>
<head>
<title>舆情分析与社会计算</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.useso.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css">
<script src="../static/js/jquery.min.js"></script>
</head>
<body>
<!-- start header -->
	<div class="header_bg">
<div class="wrap">
	<div id="content">
      <header id="topnav">
        <nav>
        		 <ul>
					<li class="active"><a href="/">主页</a></li>
					<li><a href="/cucnews">中传要闻</a></li>
					<li><a href="/douban">漫威电影</a></li>
					<li><a href="/manwei">漫威关系图</a></li>
					<li><a href="#">Copyright</a></li>
					<div class="clear"> </div>
				</ul>
        </nav>
         <div class="logo"><img src="../static/images/logo.png" alt=""></div>
<!--        <a href="#" id="navbtn">Nav Menu</a>-->
        <div class="clear"> </div>
      </header><!-- @end #topnav -->
      <script type="text/javascript"  src="../static/js/menu.js"></script>
    </div>
</div>
</div>
<!--start-slider---->
	<div class="slider" id="home">
				<div class="wrap">
				<!---start-da-slider----->
				<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>中传要闻</h2>
					<p>爬取中国传媒大学新闻内容并制作词云图</p>
					<a href="/cucnews" class="da-link">了解更多</a>
				</div>
				<div class="da-slide">
					<h2>漫威电影</h2>
					<p>豆瓣标签为'漫威'的所有电影介绍及其词云图</p>
					<a href="/douban" class="da-link">了解更多</a>
				</div>
				<div class="da-slide">
					<h2>漫威关系图</h2>
					<p>漫威电影人物关系图</p>
					<a href="/manwei" class="da-link">了解更多</a>
				</div>
				<div class="da-slide">
					<h2>@Copyright</h2>
					<p>赵晴&毛西润</p>
					<a href="#" class="da-link">了解更多</a>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
			<link rel="stylesheet" type="text/css" href="../static/css/slider.css" />
			<script type="text/javascript" src="../static/js/modernizr.custom.28468.js"></script>
			<script type="text/javascript" src="../static/js/jquery.cslider.js"></script>
			<script type="text/javascript">
				$(function() {
				
					$('#da-slider').cslider({
						autoplay	: true,
						bgincrement	: 450
					});
				
				});
			</script>
				<!---//End-da-slider----->
			</div>
</div>
	<div class="footer">
		<div class="wrap">
			<div class="social_2 social_3">
	          copyright@赵晴&毛西润
		 	  </div>
		 	 </div>
		 	  <!-- scroll_top_btn -->
		<script type="text/javascript" src="../static/js/move-top.js"></script>
		<script type="text/javascript" src="../static/js/easing.js"></script>
	    <script type="text/javascript">
			$(document).ready(function() {

				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear'
		 		};


				$().UItoTop({ easingType: 'easeOutQuart' });

			});
		</script>
		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</div>
</body>
</html>		