<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>漫威关系图</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.useso.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/d3.v3.min.js" charset="utf-8" ></script>
</head>
<style>
	#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
	.devportal-banner {
    background: url(../static/images/bg.jpeg) no-repeat center center #0a1117;
    height: 436px;

}

.searchPromo__image {
    height: 25px;
    margin-right: 10px;
	margin-left: 10px;
}
.site-container {
    max-width: 940px;
}

.main-copy {
    width: 52%;
    color: #fff;
    z-index: 1;
    position: relative;
}
.headline {
    font-family: 'RobotoCondensed Bold', sans-serif;
    font-size: 2em;
    line-height: 1;
    padding-top: 60px;
    text-transform: uppercase;
}
.headline span.line2 {
    font-size: 1.31em;
}

.subcopy {
    line-height: 1.4em;
    padding-top: 20px;
    font-size: 1.41em;

}
</style>
<body>
<!-- start header -->
<div class="header_bg">
<div class="wrap">
	<div id="content">
      <header id="topnav">
        <nav>
        		 <ul>
					<li ><a style="color: white;"  href="/">主页</a></li>
					<li><a style="color: white;" href="/cucnews">中传要闻</a></li>
					<li><a style="color: white;" href="/douban">漫威电影</a></li>
					<li class="active"><a href="/manwei">漫威关系图</a></li>
					<li><a style="color: white;" href="#">Copyright</a></li>
					<div class="clear"> </div>
				</ul>
        </nav>

        <div class="clear"> </div>
      </header>
		<!-- @end #topnav -->
      <script type="text/javascript"  src="../static/js/menu.js"></script>
    </div>
</div>
</div>
       <div class="devportal-banner">
    	<div class="site-container">
 			<div class="main-copy">
				<div class="headline"> <br>
					<span class="line2"> Marvel Cinematic Universe</span>  </div>
				<div class="subcopy">
					<img class="searchPromo__image" src="../static/images/manwei_logo.png" alt="Marvel Unlimited logo">
					漫威宇宙人物节点分析<br><br>
				<div class="search_box">
					<form action="/manwei">
						<input type="text" name="name" value="搜索节点名称" default="tonys">
       					<input type="submit" value="">
					</form>
			 	</div>


				</div>
			</div>
		</div>
	   </div>

<!--start-slider---->
    <div class="blog">
			<div style="padding: 20px;">
				<div class="single-top">
					<div id="d3_img" >
						<!--D3图-->
                        <script type="text/javascript">
    var  width=(window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth)*0.98;
    var  height=(window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight)*0.9;
    var  img_h=50;
    var  img_w=50;
    var  radius=10;
    var svg=d3.select("#d3_img")
            .append("svg")
            .attr("width",width)
            .attr("height",height);

    var nodes={{nodes| safe}};
    var edges={{edges| safe}};

    var force=d3.layout.force()
            .nodes(nodes)
            .links(edges)
            .size([width,height])

            .linkDistance(150)
            .charge(-1000)
            .start();
    //绘制
    var color=d3.scale.category20();
    var lines=svg.selectAll(".forceLine")
             .data(edges)
             .enter()
             .append("line")
             .attr("class","forceLine")
             .style("stroke","gray")
             .style("opacity",0.4)
             .style("stroke-width",1);
    var edges_text = svg.selectAll(".linetext")
                            .data(edges)
                            .enter()
                            .append("text")
                            .attr("class","linetext")
                            .text(function(d){
                                return d.relation;})
                            .style("stroke","gray")
                            .style("font-size",8);
    var  img_h=50;
    var  img_w=50;
    var  radius=23;
    var circles=svg.selectAll("forceCircle")
               .data(nodes)
               .enter()
			   .append("a")
			   .attr("xlint:href",function(d){
				   return "/manwei?name="+d.name;
			   })
               .append("circle")
               .attr("class","forceCircle")
               .attr("r",radius)
               .style("stroke","DarkGray")
               .style("stroke-width","1.0px")
               .attr("fill", function(d, i){
                                //创建圆形图片
                                var defs = svg.append("defs").attr("id", "imgdefs");
                                var catpattern = defs.append("pattern")
                                                     .attr("id", "catpattern" + i)
                                                     .attr("height", 1)
                                                     .attr("width", 1);
                                catpattern.append("image")
                                        .attr("x", - (img_w / 2 - radius+5.8))
                                        .attr("y", - (img_h / 2 - radius+3.5))
                                        .attr("width", img_w+11)
                                        .attr("height", img_h+6)
                                        .attr("xlink:href", "../static/images/"+d.name+".jpg");
                                return "url(#catpattern" + i + ")";})
               .call(force.drag);
    var texts=svg.selectAll(".forceText")
             .data(nodes)
             .enter()
             .append("text")
             .attr("class","forceText")
             .attr("x",function(d){return d.x;})
             .attr("y",function(d){return d.y;})
             .style("stroke", "#336666")
             .style("stroke-family","仿宋")
             .style("font-size","10px")
             .attr("dx","-1.5em")
             .attr("dy","3em")
             .text(function(d){return d.name;});

    force.on("tick",function(){
          lines.attr("x1",function(d){return d.source.x;});
          lines.attr("y1",function(d){return d.source.y;});
          lines.attr("x2",function(d){return d.target.x;});
          lines.attr("y2",function(d){return d.target.y;});
          circles.attr("cx",function(d){return d.x;});
          circles.attr("cy",function(d){return d.y;});
          texts.attr("x",function(d){return d.x;});
          texts.attr("y",function(d){return d.y;});
          edges_text.attr("x",function(d){ return (d.source.x + d.target.x) / 2 ; });
          edges_text.attr("y",function(d){ return (d.source.y + d.target.y) / 2 ; });
          // graph.node[d.name].fx=width/2
    });
</script>
						<div class="txt-center">
                        <h2>重要节点值</h2>
                        <table id="customers" >
							<tr>
							<td> names</td>
							<td> tonys</td>
							<td> thor</td>
							<td> stever</td>
							<td>blackw</td>
							<td> loki</td>
							<td> bucky</td>
							<td> tchalla</td>
							<td> rhody</td>
							<td> hawke</td>
							<td> peterp</td>
							</tr>
							<tr>
							<td>authority</td>
							<td>0.0246</td>
							<td>0.1376</td>
							<td>0.1939</td>
							<td>0.1927</td>
							<td>0.1250</td>
							<td>0.1477</td>
							<td>0.1563</td>
							<td>0.0981</td>
							<td>0.1931</td>
							<td>0.1804</td>
							</tr>
							<tr>
							<td> hub</td>
							<td>0.3866</td>
							<td>0.3618</td>
							<td>0.3602</td>
							<td>0.3406</td>
							<td>0.1971</td>
							<td>0.2150</td>
							<td>0.1191</td>
							<td>0.2565</td>
							<td>0.2534</td>
							<td>0.0242</td>
							</tr>
							<tr>
							<td>pagerank</td>
							<td>0.0051</td>
							<td>0.0062</td>
							<td>0.0054</td>
							<td>0.0081</td>
							<td>0.0051</td>
							<td>0.0069</td>
							<td>0.0039</td>
							<td>0.0042</td>
							<td>0.0064</td>
							<td>0.0071</td>
							</tr>
							<tr>
							<td>度中心性</td>
							<td>0.2707</td>
							<td>0.2431</td>
							<td>0.2210</td>
							<td>0.1989</td>
							<td>0.1878</td>
							<td>0.1657</td>
							<td>0.1547</td>
							<td>0.1492</td>
							<td>0.1436</td>
							<td>0.1381</td>
							</tr>
						</table>
							</div>
						<div class="txt-center">
							<h1>度分布图</h1>
							<img src="../static/dufenbu.jpg"/></div>
						<div class="clear"> </div>
					</div>

					</div>


					<div class="clear"> </div>
				</div>
			</div>
	<div class="footer">
		<div class="wrap">
			<div class="social_2 social_3">
	          copyright@赵晴&毛西润
		 	  </div>
		 	 </div>
		 	  <!-- scroll_top_btn -->
		<script type="text/javascript" src="../static/js/move-top.js"></script>
		<script type="text/javascript" src="../static/js/easing.js"></script>
	    <script type="text/javascript">
			$(document).ready(function() {

				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear'
		 		};


				$().UItoTop({ easingType: 'easeOutQuart' });

			});
		</script>
		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</div>
</body>
</html>